<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
 

	<servlet>
		<servlet-name>student</servlet-name>
		<servlet-class>com.fourpirates.students.servlets.StudentServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>item</servlet-name>
		<servlet-class>com.fourpirates.students.servlets.ItemServlet</servlet-class>
	</servlet>
	<listener>
		<listener-class>com.fourpirates.students.servlets.ws.WsSocket</listener-class>
	</listener>

	<servlet-mapping>
		<servlet-name>student</servlet-name>
		<url-pattern>/student</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>item</servlet-name>
		<url-pattern>/item</url-pattern>
	</servlet-mapping>
    
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>StudentApp</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>StudentApp</role-name>
		</auth-constraint>
	</security-constraint>

	<security-role>
		<role-name>StudentApp</role-name>
	</security-role>
 
</web-app>